<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huayu.quick.mapper.DetailsMapper">
  <resultMap id="BaseResultMap" type="com.huayu.quick.pojo.Details">
    <id column="did" jdbcType="INTEGER" property="did" />
    <result column="doid" jdbcType="VARCHAR" property="doid" />
    <result column="amount" jdbcType="REAL" property="amount" />
    <result column="cover" jdbcType="REAL" property="cover" />
    <result column="fined" jdbcType="REAL" property="fined" />
    <result column="bonus" jdbcType="REAL" property="bonus" />
    <result column="payment" jdbcType="CHAR" property="payment" />
    <result column="payTime" jdbcType="CHAR" property="paytime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    did, doid, amount, cover, fined, bonus, payment, payTime
  </sql>
  <select id="selectByExample" parameterType="com.huayu.quick.pojo.DetailsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from details
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from details
    where did = #{did,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from details
    where did = #{did,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.huayu.quick.pojo.DetailsExample">
    delete from details
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huayu.quick.pojo.Details">
    insert into details (did, doid, amount, 
      cover, fined, bonus, payment, 
      payTime)
    values (#{did,jdbcType=INTEGER}, #{doid,jdbcType=VARCHAR}, #{amount,jdbcType=REAL}, 
      #{cover,jdbcType=REAL}, #{fined,jdbcType=REAL}, #{bonus,jdbcType=REAL}, #{payment,jdbcType=CHAR}, 
      #{paytime,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huayu.quick.pojo.Details">
    insert into details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="did != null">
        did,
      </if>
      <if test="doid != null">
        doid,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="cover != null">
        cover,
      </if>
      <if test="fined != null">
        fined,
      </if>
      <if test="bonus != null">
        bonus,
      </if>
      <if test="payment != null">
        payment,
      </if>
      <if test="paytime != null">
        payTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="did != null">
        #{did,jdbcType=INTEGER},
      </if>
      <if test="doid != null">
        #{doid,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=REAL},
      </if>
      <if test="cover != null">
        #{cover,jdbcType=REAL},
      </if>
      <if test="fined != null">
        #{fined,jdbcType=REAL},
      </if>
      <if test="bonus != null">
        #{bonus,jdbcType=REAL},
      </if>
      <if test="payment != null">
        #{payment,jdbcType=CHAR},
      </if>
      <if test="paytime != null">
        #{paytime,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huayu.quick.pojo.DetailsExample" resultType="java.lang.Long">
    select count(*) from details
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update details
    <set>
      <if test="record.did != null">
        did = #{record.did,jdbcType=INTEGER},
      </if>
      <if test="record.doid != null">
        doid = #{record.doid,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=REAL},
      </if>
      <if test="record.cover != null">
        cover = #{record.cover,jdbcType=REAL},
      </if>
      <if test="record.fined != null">
        fined = #{record.fined,jdbcType=REAL},
      </if>
      <if test="record.bonus != null">
        bonus = #{record.bonus,jdbcType=REAL},
      </if>
      <if test="record.payment != null">
        payment = #{record.payment,jdbcType=CHAR},
      </if>
      <if test="record.paytime != null">
        payTime = #{record.paytime,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update details
    set did = #{record.did,jdbcType=INTEGER},
      doid = #{record.doid,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=REAL},
      cover = #{record.cover,jdbcType=REAL},
      fined = #{record.fined,jdbcType=REAL},
      bonus = #{record.bonus,jdbcType=REAL},
      payment = #{record.payment,jdbcType=CHAR},
      payTime = #{record.paytime,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huayu.quick.pojo.Details">
    update details
    <set>
      <if test="doid != null">
        doid = #{doid,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=REAL},
      </if>
      <if test="cover != null">
        cover = #{cover,jdbcType=REAL},
      </if>
      <if test="fined != null">
        fined = #{fined,jdbcType=REAL},
      </if>
      <if test="bonus != null">
        bonus = #{bonus,jdbcType=REAL},
      </if>
      <if test="payment != null">
        payment = #{payment,jdbcType=CHAR},
      </if>
      <if test="paytime != null">
        payTime = #{paytime,jdbcType=CHAR},
      </if>
    </set>
    where did = #{did,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huayu.quick.pojo.Details">
    update details
    set doid = #{doid,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=REAL},
      cover = #{cover,jdbcType=REAL},
      fined = #{fined,jdbcType=REAL},
      bonus = #{bonus,jdbcType=REAL},
      payment = #{payment,jdbcType=CHAR},
      payTime = #{paytime,jdbcType=CHAR}
    where did = #{did,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.huayu.quick.pojo.Details">
    <id column="did" jdbcType="INTEGER" property="did" />
    <result column="doid" jdbcType="VARCHAR" property="doid" />
    <result column="amount" jdbcType="REAL" property="amount" />
    <result column="cover" jdbcType="REAL" property="cover" />
    <result column="fined" jdbcType="REAL" property="fined" />
    <result column="bonus" jdbcType="REAL" property="bonus" />
    <result column="payment" jdbcType="CHAR" property="payment" />
    <result column="payTime" jdbcType="CHAR" property="paytime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    did, doid, amount, cover, fined, bonus, payment, payTime
  </sql>
  <select id="selectByExample" parameterType="com.huayu.quick.pojo.DetailsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from details
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from details
    where did = #{did,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from details
    where did = #{did,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.huayu.quick.pojo.DetailsExample">
    delete from details
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huayu.quick.pojo.Details">
    insert into details (did, doid, amount, 
      cover, fined, bonus, payment, 
      payTime)
    values (#{did,jdbcType=INTEGER}, #{doid,jdbcType=VARCHAR}, #{amount,jdbcType=REAL}, 
      #{cover,jdbcType=REAL}, #{fined,jdbcType=REAL}, #{bonus,jdbcType=REAL}, #{payment,jdbcType=CHAR}, 
      #{paytime,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huayu.quick.pojo.Details">
    insert into details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="did != null">
        did,
      </if>
      <if test="doid != null">
        doid,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="cover != null">
        cover,
      </if>
      <if test="fined != null">
        fined,
      </if>
      <if test="bonus != null">
        bonus,
      </if>
      <if test="payment != null">
        payment,
      </if>
      <if test="paytime != null">
        payTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="did != null">
        #{did,jdbcType=INTEGER},
      </if>
      <if test="doid != null">
        #{doid,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=REAL},
      </if>
      <if test="cover != null">
        #{cover,jdbcType=REAL},
      </if>
      <if test="fined != null">
        #{fined,jdbcType=REAL},
      </if>
      <if test="bonus != null">
        #{bonus,jdbcType=REAL},
      </if>
      <if test="payment != null">
        #{payment,jdbcType=CHAR},
      </if>
      <if test="paytime != null">
        #{paytime,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huayu.quick.pojo.DetailsExample" resultType="java.lang.Long">
    select count(*) from details
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update details
    <set>
      <if test="record.did != null">
        did = #{record.did,jdbcType=INTEGER},
      </if>
      <if test="record.doid != null">
        doid = #{record.doid,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=REAL},
      </if>
      <if test="record.cover != null">
        cover = #{record.cover,jdbcType=REAL},
      </if>
      <if test="record.fined != null">
        fined = #{record.fined,jdbcType=REAL},
      </if>
      <if test="record.bonus != null">
        bonus = #{record.bonus,jdbcType=REAL},
      </if>
      <if test="record.payment != null">
        payment = #{record.payment,jdbcType=CHAR},
      </if>
      <if test="record.paytime != null">
        payTime = #{record.paytime,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update details
    set did = #{record.did,jdbcType=INTEGER},
      doid = #{record.doid,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=REAL},
      cover = #{record.cover,jdbcType=REAL},
      fined = #{record.fined,jdbcType=REAL},
      bonus = #{record.bonus,jdbcType=REAL},
      payment = #{record.payment,jdbcType=CHAR},
      payTime = #{record.paytime,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huayu.quick.pojo.Details">
    update details
    <set>
      <if test="doid != null">
        doid = #{doid,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=REAL},
      </if>
      <if test="cover != null">
        cover = #{cover,jdbcType=REAL},
      </if>
      <if test="fined != null">
        fined = #{fined,jdbcType=REAL},
      </if>
      <if test="bonus != null">
        bonus = #{bonus,jdbcType=REAL},
      </if>
      <if test="payment != null">
        payment = #{payment,jdbcType=CHAR},
      </if>
      <if test="paytime != null">
        payTime = #{paytime,jdbcType=CHAR},
      </if>
    </set>
    where did = #{did,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huayu.quick.pojo.Details">
    update details
    set doid = #{doid,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=REAL},
      cover = #{cover,jdbcType=REAL},
      fined = #{fined,jdbcType=REAL},
      bonus = #{bonus,jdbcType=REAL},
      payment = #{payment,jdbcType=CHAR},
      payTime = #{paytime,jdbcType=CHAR}
    where did = #{did,jdbcType=INTEGER}
  </update>
</mapper>