<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huayu.quick.mapper.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.huayu.quick.pojo.Orders">
    <id column="oid" jdbcType="VARCHAR" property="oid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="reqAddress" jdbcType="VARCHAR" property="reqaddress" />
    <result column="carId" jdbcType="INTEGER" property="carid" />
    <result column="serId" jdbcType="INTEGER" property="serid" />
    <result column="omid" jdbcType="INTEGER" property="omid" />
    <result column="otime" jdbcType="TIMESTAMP" property="otime" />
    <result column="ojTime" jdbcType="TIMESTAMP" property="ojtime" />
    <result column="finishTime" jdbcType="TIMESTAMP" property="finishtime" />
    <result column="orderType" jdbcType="CHAR" property="ordertype" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    oid, uid, reqAddress, carId, serId, omid, otime, ojTime, finishTime, orderType
  </sql>
  <select id="selectByExample" parameterType="com.huayu.quick.pojo.OrdersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orders
    where oid = #{oid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from orders
    where oid = #{oid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.huayu.quick.pojo.OrdersExample">
    delete from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huayu.quick.pojo.Orders">
    insert into orders (oid, uid, reqAddress, 
      carId, serId, omid, 
      otime, ojTime, finishTime, 
      orderType)
    values (#{oid,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}, #{reqaddress,jdbcType=VARCHAR}, 
      #{carid,jdbcType=INTEGER}, #{serid,jdbcType=INTEGER}, #{omid,jdbcType=INTEGER}, 
      #{otime,jdbcType=TIMESTAMP}, #{ojtime,jdbcType=TIMESTAMP}, #{finishtime,jdbcType=TIMESTAMP}, 
      #{ordertype,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huayu.quick.pojo.Orders">
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="reqaddress != null">
        reqAddress,
      </if>
      <if test="carid != null">
        carId,
      </if>
      <if test="serid != null">
        serId,
      </if>
      <if test="omid != null">
        omid,
      </if>
      <if test="otime != null">
        otime,
      </if>
      <if test="ojtime != null">
        ojTime,
      </if>
      <if test="finishtime != null">
        finishTime,
      </if>
      <if test="ordertype != null">
        orderType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="reqaddress != null">
        #{reqaddress,jdbcType=VARCHAR},
      </if>
      <if test="carid != null">
        #{carid,jdbcType=INTEGER},
      </if>
      <if test="serid != null">
        #{serid,jdbcType=INTEGER},
      </if>
      <if test="omid != null">
        #{omid,jdbcType=INTEGER},
      </if>
      <if test="otime != null">
        #{otime,jdbcType=TIMESTAMP},
      </if>
      <if test="ojtime != null">
        #{ojtime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishtime != null">
        #{finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="ordertype != null">
        #{ordertype,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huayu.quick.pojo.OrdersExample" resultType="java.lang.Long">
    select count(*) from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update orders
    <set>
      <if test="record.oid != null">
        oid = #{record.oid,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null">
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.reqaddress != null">
        reqAddress = #{record.reqaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.carid != null">
        carId = #{record.carid,jdbcType=INTEGER},
      </if>
      <if test="record.serid != null">
        serId = #{record.serid,jdbcType=INTEGER},
      </if>
      <if test="record.omid != null">
        omid = #{record.omid,jdbcType=INTEGER},
      </if>
      <if test="record.otime != null">
        otime = #{record.otime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ojtime != null">
        ojTime = #{record.ojtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.finishtime != null">
        finishTime = #{record.finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ordertype != null">
        orderType = #{record.ordertype,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update orders
    set oid = #{record.oid,jdbcType=VARCHAR},
      uid = #{record.uid,jdbcType=INTEGER},
      reqAddress = #{record.reqaddress,jdbcType=VARCHAR},
      carId = #{record.carid,jdbcType=INTEGER},
      serId = #{record.serid,jdbcType=INTEGER},
      omid = #{record.omid,jdbcType=INTEGER},
      otime = #{record.otime,jdbcType=TIMESTAMP},
      ojTime = #{record.ojtime,jdbcType=TIMESTAMP},
      finishTime = #{record.finishtime,jdbcType=TIMESTAMP},
      orderType = #{record.ordertype,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huayu.quick.pojo.Orders">
    update orders
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="reqaddress != null">
        reqAddress = #{reqaddress,jdbcType=VARCHAR},
      </if>
      <if test="carid != null">
        carId = #{carid,jdbcType=INTEGER},
      </if>
      <if test="serid != null">
        serId = #{serid,jdbcType=INTEGER},
      </if>
      <if test="omid != null">
        omid = #{omid,jdbcType=INTEGER},
      </if>
      <if test="otime != null">
        otime = #{otime,jdbcType=TIMESTAMP},
      </if>
      <if test="ojtime != null">
        ojTime = #{ojtime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishtime != null">
        finishTime = #{finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="ordertype != null">
        orderType = #{ordertype,jdbcType=CHAR},
      </if>
    </set>
    where oid = #{oid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huayu.quick.pojo.Orders">
    update orders
    set uid = #{uid,jdbcType=INTEGER},
      reqAddress = #{reqaddress,jdbcType=VARCHAR},
      carId = #{carid,jdbcType=INTEGER},
      serId = #{serid,jdbcType=INTEGER},
      omid = #{omid,jdbcType=INTEGER},
      otime = #{otime,jdbcType=TIMESTAMP},
      ojTime = #{ojtime,jdbcType=TIMESTAMP},
      finishTime = #{finishtime,jdbcType=TIMESTAMP},
      orderType = #{ordertype,jdbcType=CHAR}
    where oid = #{oid,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.huayu.quick.pojo.Orders">
    <id column="oid" jdbcType="VARCHAR" property="oid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="reqAddress" jdbcType="VARCHAR" property="reqaddress" />
    <result column="carId" jdbcType="INTEGER" property="carid" />
    <result column="serId" jdbcType="INTEGER" property="serid" />
    <result column="omid" jdbcType="INTEGER" property="omid" />
    <result column="otime" jdbcType="TIMESTAMP" property="otime" />
    <result column="ojTime" jdbcType="TIMESTAMP" property="ojtime" />
    <result column="finishTime" jdbcType="TIMESTAMP" property="finishtime" />
    <result column="orderType" jdbcType="CHAR" property="ordertype" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    oid, uid, reqAddress, carId, serId, omid, otime, ojTime, finishTime, orderType
  </sql>
  <select id="selectByExample" parameterType="com.huayu.quick.pojo.OrdersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orders
    where oid = #{oid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from orders
    where oid = #{oid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.huayu.quick.pojo.OrdersExample">
    delete from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huayu.quick.pojo.Orders">
    insert into orders (oid, uid, reqAddress, 
      carId, serId, omid, 
      otime, ojTime, finishTime, 
      orderType)
    values (#{oid,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}, #{reqaddress,jdbcType=VARCHAR}, 
      #{carid,jdbcType=INTEGER}, #{serid,jdbcType=INTEGER}, #{omid,jdbcType=INTEGER}, 
      #{otime,jdbcType=TIMESTAMP}, #{ojtime,jdbcType=TIMESTAMP}, #{finishtime,jdbcType=TIMESTAMP}, 
      #{ordertype,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huayu.quick.pojo.Orders">
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="reqaddress != null">
        reqAddress,
      </if>
      <if test="carid != null">
        carId,
      </if>
      <if test="serid != null">
        serId,
      </if>
      <if test="omid != null">
        omid,
      </if>
      <if test="otime != null">
        otime,
      </if>
      <if test="ojtime != null">
        ojTime,
      </if>
      <if test="finishtime != null">
        finishTime,
      </if>
      <if test="ordertype != null">
        orderType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="reqaddress != null">
        #{reqaddress,jdbcType=VARCHAR},
      </if>
      <if test="carid != null">
        #{carid,jdbcType=INTEGER},
      </if>
      <if test="serid != null">
        #{serid,jdbcType=INTEGER},
      </if>
      <if test="omid != null">
        #{omid,jdbcType=INTEGER},
      </if>
      <if test="otime != null">
        #{otime,jdbcType=TIMESTAMP},
      </if>
      <if test="ojtime != null">
        #{ojtime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishtime != null">
        #{finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="ordertype != null">
        #{ordertype,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huayu.quick.pojo.OrdersExample" resultType="java.lang.Long">
    select count(*) from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update orders
    <set>
      <if test="record.oid != null">
        oid = #{record.oid,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null">
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.reqaddress != null">
        reqAddress = #{record.reqaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.carid != null">
        carId = #{record.carid,jdbcType=INTEGER},
      </if>
      <if test="record.serid != null">
        serId = #{record.serid,jdbcType=INTEGER},
      </if>
      <if test="record.omid != null">
        omid = #{record.omid,jdbcType=INTEGER},
      </if>
      <if test="record.otime != null">
        otime = #{record.otime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ojtime != null">
        ojTime = #{record.ojtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.finishtime != null">
        finishTime = #{record.finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ordertype != null">
        orderType = #{record.ordertype,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update orders
    set oid = #{record.oid,jdbcType=VARCHAR},
      uid = #{record.uid,jdbcType=INTEGER},
      reqAddress = #{record.reqaddress,jdbcType=VARCHAR},
      carId = #{record.carid,jdbcType=INTEGER},
      serId = #{record.serid,jdbcType=INTEGER},
      omid = #{record.omid,jdbcType=INTEGER},
      otime = #{record.otime,jdbcType=TIMESTAMP},
      ojTime = #{record.ojtime,jdbcType=TIMESTAMP},
      finishTime = #{record.finishtime,jdbcType=TIMESTAMP},
      orderType = #{record.ordertype,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huayu.quick.pojo.Orders">
    update orders
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="reqaddress != null">
        reqAddress = #{reqaddress,jdbcType=VARCHAR},
      </if>
      <if test="carid != null">
        carId = #{carid,jdbcType=INTEGER},
      </if>
      <if test="serid != null">
        serId = #{serid,jdbcType=INTEGER},
      </if>
      <if test="omid != null">
        omid = #{omid,jdbcType=INTEGER},
      </if>
      <if test="otime != null">
        otime = #{otime,jdbcType=TIMESTAMP},
      </if>
      <if test="ojtime != null">
        ojTime = #{ojtime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishtime != null">
        finishTime = #{finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="ordertype != null">
        orderType = #{ordertype,jdbcType=CHAR},
      </if>
    </set>
    where oid = #{oid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huayu.quick.pojo.Orders">
    update orders
    set uid = #{uid,jdbcType=INTEGER},
      reqAddress = #{reqaddress,jdbcType=VARCHAR},
      carId = #{carid,jdbcType=INTEGER},
      serId = #{serid,jdbcType=INTEGER},
      omid = #{omid,jdbcType=INTEGER},
      otime = #{otime,jdbcType=TIMESTAMP},
      ojTime = #{ojtime,jdbcType=TIMESTAMP},
      finishTime = #{finishtime,jdbcType=TIMESTAMP},
      orderType = #{ordertype,jdbcType=CHAR}
    where oid = #{oid,jdbcType=VARCHAR}
  </update>
</mapper>